<div class='header'>
  <div class='title'>WebPosse</div>
  <div class='login_form'>
    <% logged_user = current_user
       form_tag "/#{controller.controller_name}/#{logged_user ? 'logout' : 'login'}" do %>
      <p class='login'>
        <% if logged_user %>
          User: <span class='user'><%= link_to logged_user.name, logged_user %></span>
          <%= submit_tag 'Log out' %>
        <% else %>
          Name: <%= text_field_tag :name, params[:name], :size => 15, :maxlength => 40 %>
          Password: <%= password_field_tag :password, params[:password], :size => 15,
            :maxlength => 40 %>
          <%= hidden_field_tag :url, url_for %>
          <%= submit_tag 'Log in' %>
        <% end %>
      </p>
<p class='login_notice'><%= flash[:login_notice] %></p>
    <% end %>
  </div>
</div>
